body {
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	text-align: center;
}

#login-container {
	margin-top: 12%;
}

#login-bg {
	padding-top: 2%;
	padding-bottom: 2%;
}

.loginError {
	text-align: center;
	color: red;
	display: none;
}
